#HomeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#Me {
  width: 35%;
  max-width: 400px;
  height: auto;
}

#Content {
  margin-left: 100px;
}

@media (max-width: 600px) {
  #HomeContainer {
    flex-direction: column;
  }
}
