.navbar-link {
  text-decoration: none;
  color: black;
  padding-left: 3vw;
  padding-right: 3vw;
}

@media (max-width: 500px) {
  .navbar-link {
    padding: 0;
    color: aliceblue;
    padding: 8px 30px 8px 10px;
  }
}
