nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-weight: bolder;
  margin-bottom: 20px;
}

img {
  width: 50px;
  padding-left: 20px;
}

#Links {
  display: flex;
  margin-right: 3vw;
}

#Links a:hover {
  color: rgb(9, 204, 9);
}

@media (max-width: 400px) {
  nav {
    flex-direction: column;
  }
}
